{% extends 'template.html' %}

{% block title %}Home{% endblock title %}

{% block main %}

<div class="panorama-section">
   
      <h2>New Posts</h2>
      <div class="tile-column-span-2">
      {% for post in new_posts %}                      
            <a class="tile wide imagetext wideimage bg-color-green" href="/blog/">
                  <img src="{{ post.img }}" alt="{{ post.title }}"/>
                  <div class="textover-wrapper transparent">
                        <div class="text2">{{ post.title }}</div>
                  </div>
            </a>
      {% endfor %}
      </div>
</div>


<div class="panorama-section">

      <h2>Old Posts</h2>
      {% for post in old_posts %}

      {% if forloop.first %}
      <div class="tile-column-span-2">
      {% elif forloop.counter0|divisibleby:6  %}
      </div>
      <div class="tile-column-span-2">
      {% endif %}
   
            <a class="tile square image" href="#">
                  <img src="{{ post.img }}" alt="{{ post.title }}"/>
                  <div class="textover-wrapper transparent">
                        <div class="text2">{{ post.title }}</div>
                  </div>
            </a>

      {% if forloop.last %}
      </div>
      {% endif %} 

      {% endfor %}    
</div>
{% endblock main %}